<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark primary-color" [containerInside]="false">

  <!-- Navbar brand -->
  <mdb-navbar-brand><a class="navbar-brand" href="#">Navbar</a></mdb-navbar-brand>

  <!-- Collapsible content -->
  
  <links>

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="/patient" class="nav-link waves-light" mdbWavesEffect><fa-icon class="mr-1" [icon]="faIdCard"></fa-icon>Profile</a>
      </li>
      <li class="nav-item">
        <a routerLink="/patient/search" class="nav-link waves-light" mdbWavesEffect><fa-icon class="mr-1" [icon]="faCalendarDay"></fa-icon>Calendar</a>
      </li>
      <li class="nav-item">
        <a routerLink="/patient/appointments" class="nav-link waves-light" mdbWavesEffect><fa-icon class="mr-1" [icon]="faSearch"></fa-icon>Appointments</a>
      </li>
      <li class="nav-item">
        <a routerLink="/patient/history" class="nav-link waves-light" mdbWavesEffect><fa-icon class="mr-1" [icon]="faNotesMedical"></fa-icon>History</a>
      </li>
    </ul>
    <!-- Links -->

    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item avatar dropdown" dropdown>
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link waves-light" mdbWavesEffect>
          <img src="{{doctor?.photoURL||user?.photoURL}}" height="30" width="30" alt="" class="img-fluid rounded-circle z-depth-0"></a>
        <div *dropdownMenu class="dropdown-menu dropdown-menu-auto dropdown dropdown-primary" role="menu">
          <a class="dropdown-item waves-light" mdbWavesEffect  (click)="logout()">Log out</a>
        </div>
      </li>
    </ul>
  </links>
  <!-- Collapsible content -->

</mdb-navbar>

<!--/.Navbar-->