<div class="container mt-5" >
  <tabset class="m-5">
    <tab class="speciality-tab" heading="Search By Speciality" #nameTab="tab" >
      <div class="row m-5">
        <div class="col-lg-4 col-md-6 col-sm-12 d-flex justify-content-center">
          <button (click)="basicModal.show()" class="btn btn-primary rounded-0 mb-3">Choose A Speciality</button>
          <div
            mdbModal
            #basicModal="mdbModal"
            class="modal fade bottom"
            tabindex="-1"
            role="dialog"
            aria-labelledby="myBasicModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog modal-dialog-scrollable" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button
                    type="button"
                    class="close pull-right"
                    aria-label="Close"
                    (click)="basicModal.hide()"
                  >
                    <span aria-hidden="true">×</span>
                  </button>
                  <h4 class="modal-title w-100" id="myModalLabel">
                    Choose a Speciality
                  </h4>
                </div>
                <div class="modal-body">
                  <input
                    type="text"
                    class="form-control mb-5"
                    [(ngModel)]="searchSpeciality"
                    placeholder="Search for speciality"
                  />
                  <ul #specList class="list-unstyled">
                    <li
                      *ngFor="
                        let speciality of specialities | filter: searchSpeciality
                      "
                    >
                      <input
                        [(ngModel)]="specRadio"
                        type="radio"
                        name="spec"
                        value="{{ speciality }}"
                      />
                      {{ speciality }}
                    </li>
                  </ul>
                </div>
                <div class="modal-footer">
                  <button
                    [disabled]="!specRadio"
                    type="button"
                    (click)="specSave(); basicModal.hide()"
                    class="btn btn-primary relative waves-light"
                    mdbWavesEffect
                  >
                    Search
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-8 col-md-6 col-sm-12 text-center ">
          <strong>{{specRadio}}</strong>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 mb-3">
          <accordion [isAnimated]="true">
            <accordion-group heading="Filters" [isOpen]="true">
                <accordion-group heading="City" [isOpen]="true">
                  <span accordion-heading><fa-icon class="m-2" [icon]="faCity"></fa-icon></span>
                  <input
                  type="text"
                  class="form-control mb-5"
                  [(ngModel)]="searchCity"
                  placeholder="Search cities"
                />
                  <ul class="list-unstyled">
                    <li *ngFor="let city of cities| filter: searchCity"><input  [(ngModel)]="cityRadio" name="city" (change)="specRadio?loadItems(specRadio,cityRadio,priceRadio,sortRadio):null" type="radio" value={{city}} /> {{city}}</li>
                  </ul>
                </accordion-group>
                <accordion-group heading="Price" [isOpen]="true">
                  <span accordion-heading><fa-icon class="m-2" [icon]="faMoneyBill"></fa-icon></span>
                  <ul class="list-unstyled">
                    <li *ngFor="let price of prices" ><input [(ngModel)]="priceRadio" type="radio" name="price" value="{{price}}" (change)="specRadio?loadItems(specRadio,cityRadio,priceRadio,sortRadio):null" /> Less Than {{price}}</li>
                    </ul>
                </accordion-group>
                
              </accordion-group>
              <accordion-group *ngIf="specRadio" heading="Sort" [isOpen]="true">
                <accordion-group heading="By Fees" [isOpen]="true">
                  <span accordion-heading><fa-icon class="m-2" [icon]="faMoneyBill"></fa-icon></span>
                  <ul class="list-unstyled">
                    <li *ngFor="let sort of sorting" >
                      <input style="display: inline-block" [(ngModel)]="sortRadio" type="radio" name="price" value="{{sort}}" (change)="specRadio?loadItems(specRadio,cityRadio,priceRadio,sortRadio):null" />
                      <p style="display: inline" class="mr-2" *ngIf="sort=='asc'"> Low To high</p>
                      <p style="display: inline" *ngIf="sort=='desc'"> high To low</p>
                    </li>
                    </ul>
                </accordion-group>
              </accordion-group>
          </accordion>
        </div>
        <div *ngIf="!doctorsLoading" class="col-lg-8">
          <div class="row">
            <div class="cards col-lg-6 col-md-12 col-sm-12" *ngFor="let doctor of tableData">
              <!-- Card -->
              <div class="card booking-card mb-5">
                <!-- Card image -->
                <div class="view overlay text-center p-3">
                  <img
                    class="card-img-top m-auto rounded-circle w-50"
                    src="{{ doctor?.photoURL }}"
                  />
                  <a (click)="cardClick(doctor?.id);">
                    <div class="mask rgba-white-slight"></div>
                  </a>
                </div>

                <!-- Card content -->
                <div class="card-body" style="min-height: 400px;">
                  <!-- Title -->
                  <h4 class="card-title font-weight-bold">
                    <a>{{ doctor?.name }}</a>
                  </h4>
                  <!-- Data -->
                  <ul class="list-unstyled list-inline rating mb-0">
                    <li class="list-inline-item mr-0">
                      <i class="fas fa-star amber-text"> </i>
                    </li>
                    <li class="list-inline-item mr-0">
                      <i class="fas fa-star amber-text"></i>
                    </li>
                    <li class="list-inline-item mr-0">
                      <i class="fas fa-star amber-text"></i>
                    </li>
                    <li class="list-inline-item mr-0">
                      <i class="fas fa-star amber-text"></i>
                    </li>
                    <li class="list-inline-item">
                      <i class="fas fa-star-half-alt amber-text"></i>
                    </li>
                    <li class="list-inline-item">
                      <p class="text-muted">4.5 (413)</p>
                    </li>
                  </ul>
                  <p class="mb-2">
                    {{ doctor?.price | number: "1.1-1" }} UAH • {{
                      doctor?.addressInfo?.city
                    }}
                  </p>
                  <!-- Text -->
                  <p class="card-text">
                    {{ doctor?.bio }}
                  </p>
                  <hr class="my-4" />
                  <p class="lead">
                    <strong class="font-weight-bold">Available</strong>
                  </p>
                  <div class="row">  
                    <div class="col-lg-6 col-md-6 col-sm-12">
                  <div class="chip p-1 deep-purple rounded white-text mr-1 mb-1">
                        5:30PM
                      </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-12">

                      <div class="chip p-1 deep-purple rounded white-text mr-1 mb-1">
                        7:30PM
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                      <div class="chip p-1 deep-purple rounded white-text mr-1 mb-1">
                        8:00PM
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                      <div class="chip p-1 deep-purple rounded white-text mr-1 mb-1">
                        9:00PM
                      </div>
                    </div>
                    </div>
                    </div>
                  <!-- Button -->
                  <a
                    href="#"
                    class="btn btn-flat deep-purple-text p-1 mx-0 mb-0"
                    >more</a
                  >
              </div>
              <!-- Card -->
            </div>
            <div *ngIf="!tableData.length &&specRadio" class="col-lg-12 col-md-12 col-sm-12 text-center">
                <h2 class="text-secondary">No Results Available</h2>
            </div>
          </div>
          <div *ngIf="tableData.length" class="text-center">
            <button class="btn btn btn-info btn-sm float-left" (click)="prevPage(specRadio,cityRadio,priceRadio,sortRadio)"
                [disabled]="disable_prev || !(pagination_clicked_count>0)">Previous</button> <b>Page no: {{pagination_clicked_count+1}}</b>
            <button class="btn btn btn-info btn-sm float-right" (click)="nextPage(specRadio,cityRadio,priceRadio,sortRadio)" [disabled]="disable_next">Next</button>
          </div>
        </div>
        <div *ngIf="doctorsLoading" class="col-lg-8">
          <div class="spinner">
            <div class="rect1"></div>
            <div class="rect2"></div>
            <div class="rect3"></div>
            <div class="rect4"></div>
            <div class="rect5"></div>
          </div>
        </div>
      </div>
    </tab>

    <tab heading="Search By Name" #specialityTab="tab">
      <ng-template tabHeading><fa-icon class="m-2" [icon]="faFileSignature"></fa-icon></ng-template>
  
    </tab>
  </tabset>
</div>
