.my-svg{
    width: 65%;
  }
  
agm-map{
    width: 50vw;
    height: 50vh;
}  
.autocomplete-container {
    padding: 1rem 0 1rem 0;
    width: 50%;
  }

.file {
    overflow: hidden;
    border: none;
    border-radius: 0;
    font-size: small;
}
textarea {
    width: 100%;
    height: 100%;
    resize: none;
}


#card-1{
  animation: card-1 1s ease-in-out infinite alternate;
  transform-origin: top;
  transform-box: fill-box;
}

@keyframes card-1{
  from{
      transform: translateX(0%);
  }
  to{
    transform: translateX(10%);
  }
}


#card-2{
  animation: card-2 1s ease-in-out infinite alternate;
  transform-origin: top;
  transform-box: fill-box;
}

@keyframes card-2{
  from{
      transform: translateX(0%);
  }
  to{
    transform: translateX(-10%);
  }
}