.card {
    background-color: #fff;
}

.card-1 {
    width: 100%
}

.info {
    font-size: 15px;
    color: #000
}

.one {
    font-size: 12px;
    color: #EDE7F6
}

.card-2 {
    border-radius: 10px;
    background-color: #007bff;
  span{
    color:black;
  }  
}

