<div *ngIf="!editLoading &&!pageLoading" class="container mt-5 p-5">
   <div *ngIf="enableEdit" class="row justify-content-center">
     <h6 class="text-danger">Changes won't take place until next schedule confirmation</h6>
       <div class="col-lg-12 col-md-12 col-sm-12 d-flex flex-column">
            <div *ngFor="let day of days;let i=index" class="custom-control custom-switch mb-2">
                <input [(ngModel)]="isChecked[i]" type="checkbox" class="custom-control-input" id="customSwitch{{i}}">
                <label class="custom-control-label" for="customSwitch{{i}}">{{day}}</label>
                <div [hidden]="!isChecked[i]">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-12 mt-5">
                            <label class="text-primary">Start Time</label>
                            <timepicker [(ngModel)]="startTime[i]" [min]="minStartTime[i]" [max]="maxEndTime[i]" [showMeridian]="false"></timepicker>
                            
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 mt-5">
                            <label class="text-primary">End Time</label>
                            <timepicker [(ngModel)]="endTime[i]" [min]="minStartTime[i]" [max]="maxEndTime[i]" [showMeridian]="false"></timepicker>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 mt-5 text-center">
                            <label class="text-primary">Session Time</label>
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <select [(ngModel)]="period[i]" [className]="!period[i]?'form-control form-control-sm period-invalid':'form-control form-control-sm'">
                                        <option *ngFor="let minute of minutes" value="{{minute}}">{{minute}} Minute</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
       </div>
       <a class="btn btn-primary m-5 text-white" (click)="calculateAvailability(basicModal)"><fa-icon [icon]="faDatabase"></fa-icon> Submit</a>
       <a class="btn btn-secondary m-5 text-white" (click)="enableEdit=!enableEdit"><fa-icon [icon]="faTimes"></fa-icon> Cancel</a>
       <div>
        <div
        mdbModal
        #basicModal="mdbModal"
        class="modal fade bottom"
        tabindex="-1"
        role="dialog"
        aria-labelledby="myBasicModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-scrollable" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button
                type="button"
                class="close pull-right"
                aria-label="Close"
                (click)="basicModal.hide()"
              >
                <span aria-hidden="true">×</span>
              </button>
              <h4 class="modal-title w-100" id="myModalLabel">
                Time Slots
              </h4>
            </div>
            <div class="modal-body">
              <ul #specList class="list-unstyled">
                <li class="mb-2 text-center" *ngFor="let time of availability|keyvalue">
                    <mdb-badge class="p-2 w-100 font-weight-bold text-primary" >{{time.key}}</mdb-badge>
                    <mdb-badge class="text-white ml-1" *ngFor="let timeval of time.value" primary="true" pill="true" >{{timeval}}</mdb-badge>
                </li>
              </ul>
            </div>
            <div class="modal-footer">
                <button
                type="button"
                (click)="updateAvailability(); basicModal.hide()"
                class="btn btn-primary relative waves-light"
                mdbWavesEffect
              >
                Confirm
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
      </div>

   <div *ngIf="!enableEdit" class="row justify-content-center">
       <div *ngIf="doctor?.availability" class="col-lg-12 col-md-12 col-sm-12 text-center">
          <fa-icon [icon]="faCalendarWeek" size="2x" [styles]="{'color': 'pink'}"></fa-icon>
          <h2 class="text-secondary">Current Calendar</h2>
          <div class="row">     
           <div class="col-lg-12 col-md-12 col-sm-12 border mb-3 mt-5 p-2">
            <accordion [isAnimated]="true">
              <div class="row">
                <accordion-group class="col-lg-6 col-md-6 col-sm-12" *ngFor="let avail of doctor?.availability|keyvalue" heading="{{avail.key}}">
                <div class="row">
                  <div class="col-lg-4 col-md-4 col-sm-4" *ngFor="let timeval of avail.value">
                    <div *ngIf="timeval" class="chip p-1 primary-color rounded white-text m-1">
                    {{timeval}}
                  </div>
                  </div>
                </div>
              </accordion-group>
            </div> 
            </accordion>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-lg-6 col-md-6 col-sm-12">
            <a class="btn btn-primary text-white mb-5" (click)="confirmWeekDates()"><fa-icon class="mr-3" size="lg" [icon]="faCalendarWeek"></fa-icon> Confirm Schedule</a>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
            <a (click)="enableEdit=!enableEdit" class="btn btn-secondary text-white"><fa-icon class="mr-3" size="lg" [icon]="faEdit"></fa-icon>Edit Availability</a>
            </div>
          </div>
        </div>
        <div *ngIf="!doctor?.availability" class="col-lg-12 col-md-12 col-sm-12 text-center">
          <fa-icon [icon]="faCalendarTimes" size="2x" [styles]="{'color': 'pink'}"></fa-icon>
            <h2 class="text-secondary">You have not set Your calendar yet</h2>
            <a (click)="enableEdit=!enableEdit" class="btn btn-secondary text-white">Edit</a>
        </div>
    </div>
</div>


<div *ngIf="editLoading">
    <div class="spinner">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
      </div>
</div>

<div *ngIf="pageLoading">
  <div class="sk-cube-grid">
      <div class="sk-cube sk-cube1"></div>
      <div class="sk-cube sk-cube2"></div>
      <div class="sk-cube sk-cube3"></div>
      <div class="sk-cube sk-cube4"></div>
      <div class="sk-cube sk-cube5"></div>
      <div class="sk-cube sk-cube6"></div>
      <div class="sk-cube sk-cube7"></div>
      <div class="sk-cube sk-cube8"></div>
      <div class="sk-cube sk-cube9"></div>
      <div class="text-primary font-weight-bold">LOADING</div>
    </div>
</div>

<!--
   
-->